.App {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
#student {
  margin-top: 1rem;
  padding: 1rem;
}
#student button {
  height: 50px;
  font-size: 25px;
  border-radius: 25px;
  padding: 10px 30px;
  background: white;
  margin-top: 18px;
  cursor: pointer;
}

.header {
  background: blue;
  margin: 0;
}
.header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family:cursive;
}
.header ul li a {
  text-decoration: none;
  font-size: 32px;
  color: white;
}

table p {
  text-decoration: underline;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 96.5vh;
  background: no-repeat;

  background-image: linear-gradient(
    to bottom,
    #b1e1ff,
    #d67eae,
    #ff73c0,
    #e1f0c0
  );
}
/* button{
  background-color: #ff73c0;
  font-family:"cursive" */
/* } */
.table{
  margin-left: auto;
  margin-right: auto;

    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
 .innerText{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

  .secpage {
    display: flex;
    font-family: Bungee Inline;
    font-size: 20px;
    margin-left: 6vw;
     margin-top: 1vw; 
 }
.but1 {
  background-color: #87cefa;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 25px;
  height: 50px;
  margin-left: 47vw;
  margin-top:-1px;
  width: 250px;
}

.editBut {
  background: none;
  border: none;
  color: rgb(2, 2, 175);
  font-size: 18px;
  text-decoration: underline;
  margin-right:50px;
} 

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
}
.input{
  border-radius:10px;
  height: 50px;
  margin: 40px;
  width: 40%;
}
.name{
color:black;
}